<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% include cards/card.html
        image= "https://picsum.photos/500/300/?image=10"
        title="Card title"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo modi non numquam dolores neque veritatis velit veniam asperiores expedita labore temporibus, consequuntur ullam quidem at voluptatum esse maiores aspernatur ex."
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% include cards/card.html
        image= "https://picsum.photos/500/300/?image=10"
        title="Card title"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo modi non numquam dolores neque veritatis velit veniam asperiores expedita labore temporibus, consequuntur ullam quidem at voluptatum esse maiores aspernatur ex."
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% include cards/card.html
        image= "https://picsum.photos/500/300/?image=10"
        title="Card title"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo modi non numquam dolores neque veritatis velit veniam asperiores expedita labore temporibus, consequuntur ullam quidem at voluptatum esse maiores aspernatur ex."
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% include cards/card.html
        image= "https://picsum.photos/500/300/?image=10"
        title="Card title"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo modi non numquam dolores neque veritatis velit veniam asperiores expedita labore temporibus, consequuntur ullam quidem at voluptatum esse maiores aspernatur ex."
      %}
    </div>

  </div>
</div>