<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "NodeJS, Express, MongoDB, EJS, Bcrypt.js, PDFkit, Stripe, Multer, Nodemailer" | split: "," %}
      {% include cards/card.html
        title="REST API shopping cart"
        content="Backend REST API for project e-commerce Shopping Cart"
        tags = myTags
        code = "https://github.com/tienduy-nguyen/nodejs-projects/tree/master/shopping-cart/backend"
      %}
    </div>
  </div>
</div>