<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% assign myTags = ".net-core-5,.net-core3.1, rest-api,swagger,jwt, PostgreSQL, Entity-framework, OOP, Dependency-injection" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/csharp/rpg-dotnet-core.png"
        title=".NET Core REST API for RPG"
        content="Demo: how to build an REST API project with .net core 3.1 & 5.0 through an Role Playing game. Features: Clean structure, PostgreSQL, Entity Framework, JWT, OOP solution, Swagger for documentation."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/rpg-restapi"
        demo = "https://net-rpg.herokuapp.com/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "C#, WPF, RevitAPI, MVVM, Modeless form" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/csharp/revitapi.png"
        title="Revit WPF Template"
        content="An C# WPF template in visual studio to help the developer create simpler their  add-ins for Revit."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/revit-wpf-template"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "C#, WPF, SQLServer" | split: "," %}
      {% include cards/card.html
        title="Inventory App"
        content="Sample repository how to create a Warehouse Management Tool with C#, WPF and SQL Server."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/inventory-app"
      %}
    </div>

  </div>
</div>