<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "TailwindCSS,ViteJS, ReactJS" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/tailwindcss.png"
        title="TailwindCSS zero to production"
        content="Improve skill TailwindCSS with small projects"
        tags = myTags
        code = "https://gitlab.com/tienduy-nguyen/tailwindcss-zero-to-production"
        demo = "https://tailwindcss-react-vitejs.vercel.app/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS,JS,Chart.js" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/admin.png"
        title="Admin Template"
        content="An example of Admin page with dark mode and chartjs"
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/admin-template"
        demo = "https://adev42.com/frontend/demo/admin-template/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS,Bootstrap" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/dev-connector.png"
        title="Dev Connector Project"
        content="A front-end theme for my project Dev-connector."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/devconnector"
        demo = "https://adev42.com/frontend/demo/devconnector/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS,Bootstrap" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/glozoom.png"
        title="Glozoom Project"
        content="A bootstrap theme for landing page"
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/glozzom"
        demo = "https://adev42.com/frontend/demo/glozzom/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS,Bootstrap" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/looplab.png"
        title="LoopLAB Project"
        content="A bootstrap theme for multipage"
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/looplab-social"
        demo = "https://adev42.com/frontend/demo/looplab-social/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS,Bootstrap" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/mizuxe.png"
        title="Mizuxe Book"
        content="A landing page to present a book."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/mizuxe-book"
        demo = "https://adev42.com/frontend/demo/mizuxe-book/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/f8shop.png"
        title="F8 Shop"
        content="An responsive shopping page using pure HTML and CSS. Create a library of grid system and card."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/frontend/tree/master/demo/f8-shop"
        demo = "https://adev42.com/frontend/demo/f8-shop/index.html"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "HTML,CSS, Bootstrap" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/htmlcss/surfing.png"
        title="The Surfing Project"
        content="An responsive bootstrap page pr for the surfing school"
        tags = myTags
        code = "https://github.com/tienduy-nguyen/thehackingproject/tree/master/week1/day4"
        demo = "https://adev42.com/thehackingproject/week1/day4/index.html"
      %}
    </div>

  </div>
</div>