<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, NestJS, ReactJS, ViteJS, MongoDB, Python, scrapy, testing, ci-cd, cloudinary, full-text-search, scss" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/bookstore.png"
        title="Bookstore"
        content="Modern techno : NestJS + ReactJS + ViteJS + MongoDB for Bookstore web app. Check code for the details."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/nestjs-graphql-prisma"
        demo= "https://bookzeta.netlify.app/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, NestJS, Docker, Jwt, Refresh-token,i18n, send-email, Redis, PostgreSQL,unit-tests, e2e-tests, ci-cd, github-actions" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/nestjs-graphql-prisma.png"
        title="NestJS GraphQL Prisma Boilerplate"
        content="I create an backend boilerplate using NestJS-GraphQL-Prisma2. Full-feature for authentication with Jwt. Using Docker for development."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/nestjs-graphql-prisma"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, NestJS,Jwt, Redis, PostgreSQL, TypeORM, Microservices, RabbitMQ, AWS, gRPC, unit-tests, elastic-search, caching " | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/nestjs.png"
        title="NestJS flow"
        content="Tutorial: end to end to build a REST API project with NestJS. In this tutorial, you will understand how to build a project with NestJS. The repository contains multiple branches to pass from simple to complex techniques."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/nestjs-flow"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Full-stack, Typescript, NodeJS, NextJs, GraphQL, Chakra-UI, PostgreSQL, TypeORM, Redis, TypeGraphQL, " | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/reddit-graphql.png"
        title="Reddit clone GraphQL"
        content="Clone a simple reddit website with GraphQL using NodeJS + NextJS. Using Reddit for auth solution, PostgreSQL for database. Chakra for Client UI."
        tags = myTags
        code = "https://gitlab.com/tienduy-nguyen/reddit-graphql"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, NodeJS, ci-cd, github-action, REST API, raw-query, sqlite3, jwt, session, unit-tests, e2e-tests, dependency-injection, clean-structure" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/nodejs-typescript.png"
        title="NodeJS raw query"
        content="Build a clean structure in NodeJS + Typescript. Using dependency injection pattern. Auth with JWt + express-session. Full tests: unit tests, integration tests, e2e tests. CI-CD with Github actions."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/nodejs-raw-query"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, React, Ant-design, Redux, Redux-thunk, lazy-load, react-memo, ci-cd, github-action, eslint, prettier" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/react-boilerplate.png"
        title="React Ant-design Boilerplate"
        content="Typescript React boiler plate with Ant-design. State management with Redux & Redux thunk. Linter and format with Eslint & Prettier. CI-CD with Github actions."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/react-typescript-example"
        demo="https://reactts-boilerplate.netlify.app/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, React, Ant-design" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/react-ant-demo.png"
        title="Demo React Ant-design"
        content="Demo using React with Ant-design for landing pages."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/react-antd-demo"
        demo="https://react-ant-demo.netlify.app/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Typescript, React, NextJS, Firebase, react-markdown" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/devto-clone.png"
        title="Dev.to clone"
        content="Clone dev.to website with NextJs + Firebase."
        tags = myTags
        code = "https://gitlab.com/tienduy-nguyen/devto-nextjs-firebase"
        demo="https://devto-nextjs-firebase.vercel.app/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Full-stack, Javascript, MongoDB, NodeJS, Express, ReactJS, JWT, Bcrypt" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/dev-connector.png"
        title="Dev Connector"
        content="A social plate-forme for uploading profile, posts and discussions between developers."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/mern-app/tree/master/dev-connector"
        demo = "https://td-devconnector.herokuapp.com/"
      %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Javascript, React, Firebase" | split: "," %}
      {% include cards/card.html
        image= "/assets/img/demo/nodejs-react/client-panel.png"
        title="Client Panel"
        content="Demo simple app to manage client budget."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/reactjs-project/tree/master/client-panel"
        demo="https://d-react-client-panel.web.app/"
      %}
    </div>

    <div class="col-sm-12 col-md-6">
      {% assign myTags = "Javascript, MongoDB, NodeJS, Express, JWT, Bcrypt" | split: "," %}
      {% include cards/card.html
        title="Job Tracker"
        content="Traking applied jobs by offres and by company. Missing front-end."
        tags = myTags
        code = "https://github.com/tienduy-nguyen/job-tracker"
      %}
    </div>


  </div>
</div>