<footer>
    <div class="footer-menu">
        {{ range .Site.Config.extra.footer_menu }}
        <a class="instant fold" href="{{.path}}">{{.name}}</a>
        {{ end }}
    </div>
    <div class="copyright">
        <span class="copyright-text">{{ .Site.Config.extra.footer_copyright }}</span>
        <span class="separator">•</span>
        <span class="built-with">
            Built with
            <a href="https://github.com/tduyng/gozzi" rel="noreferrer" target="_blank">
                <span class="gozzi-icon">⚡</span>
                gozzi
            </a>
        </span>
    </div>
</footer>
