{{ $current_page := .Page }}
{{ $current_series := .Page.Series }}

{{/* Show series navigation for series posts, tag-based related posts for others */}}
{{ if $current_series }}
    {{/* Series posts: show complete series list */}}
    <section id="related-posts-compact" class="related-compact">
        <h3>Related Posts</h3>
        
        {{ template "partials/_series_nav.html" (dict "Series" $current_series "PartialContext" "navigation") }}
    </section>
{{ else if .Page.Config.tags }}
    {{/* Non-series posts: show tag-based related posts */}}
    {{ $blog_section := get_section "blog" }}
    {{ $notes_section := get_section "notes" }}
    {{ $all_posts := concat $blog_section.Children $notes_section.Children }}
    
    {{/* Collect related posts by tags */}}
    {{ $related := related_posts .Page $all_posts }}
    
    {{/* Count how many related posts we have (excluding current page) */}}
    {{ $related_count := 0 }}
    {{ if $related }}
        {{ range $related }}
            {{ if ne .Permalink $current_page.Permalink }}
                {{ $related_count = add $related_count 1 }}
            {{ end }}
        {{ end }}
    {{ end }}
    
    {{/* Only show if we have related posts */}}
    {{ if gt $related_count 0 }}
    <section id="related-posts-compact" class="related-compact">
        <h3>Related Posts</h3>
        
        {{/* Show up to 3 tag groups for non-series posts */}}
        {{ template "partials/_related_by_tags.html" (dict 
            "RelatedPosts" $related 
            "CurrentPage" $current_page 
            "SeriesName" ""
            "MaxGroups" 3
            "MaxPerGroup" 6
        ) }}
    </section>
    {{ end }}
{{ end }}
