{{ $related_posts := .RelatedPosts }}
{{ $current_page := .CurrentPage }}
{{ $exclude_tags := .ExcludeTags }}
{{ $max_groups := default 2 .MaxGroups }}
{{ $max_per_group := default 6 .MaxPerGroup }}

{{ if $related_posts }}
    {{ $tags_map := dict }}
    {{ $seen_posts := dict }}
    
    {{ range $related_posts }}
        {{ $post := . }}
        {{ $post_key := .Permalink }}
        
        {{ if not (index $seen_posts $post_key) }}
            {{ range .Config.tags }}
                {{ $tag := . }}
                {{ $skip_tag := false }}
                
                {{ range $exclude_tags }}
                    {{ if eq $tag . }}
                        {{ $skip_tag = true }}
                    {{ end }}
                {{ end }}
                
                {{ if not $skip_tag }}
                    {{ $existing := index $tags_map $tag }}
                    {{ if $existing }}
                        {{ $tags_map = merge $tags_map (dict $tag (concat $existing (slice $post))) }}
                    {{ else }}
                        {{ $tags_map = merge $tags_map (dict $tag (slice $post)) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $seen_posts = merge $seen_posts (dict $post_key true) }}
        {{ end }}
    {{ end }}
    
    {{ $sorted_tags := slice }}
    {{ range $tag, $posts := $tags_map }}
        {{ $sorted_tags = concat $sorted_tags (slice (dict "tag" $tag "posts" $posts "count" (len $posts))) }}
    {{ end }}
    
    {{ $group_count := 0 }}
    {{ range $sorted_tags }}
        {{ if lt $group_count $max_groups }}
            {{ $group_count = add $group_count 1 }}
            <div class="related-group">
                <h4>More posts about <span class="tag-highlight">#{{ .tag }}</span></h4>
                <ul class="related-list">
                    {{ range first $max_per_group .posts }}
                        {{ if ne .Permalink $current_page.Permalink }}
                        <li>
                            <a href="{{ .Permalink }}" class="instant">
                                <span class="date">{{ date .Config.date "2 Jan 2006" }}</span>
                                <span class="title">{{ .Config.title }}</span>
                            </a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
