<script src="/js/main.js" defer></script>
<script src="/js/lightense.min.js" defer></script>
{{ if .Page.Config.extra.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
<script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false}
        ]
    })"
></script>
{{ end }} {{ if .Site.Config.extra.enable_analytics }}
<script
    async
    defer
    data-website-id="0403ec1f-fbf8-4e6c-b24b-0c585ca25873"
    src="https://cloud.umami.is/script.js"
    data-do-not-track="true"
></script>
{{ end }}
