//Recent Project
.projects-section {
  width: 100%;
  h2.projects {
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    @media screen and(max-width: 500px) {
      font-size: 2.5em;
    }
    @media screen and(max-width: 400px) {
      font-size: 2.1875em;
    }
    @media screen and(max-width: 360px) {
      font-size: 1.875em;
    }
  }

  .projects-content-wrap {
    margin: auto;
    width: 100%;
    padding-top: 60px;
    align-items: center;
    .tab-content {
      background: #fff;
      padding-top: 10px;
    }
  }
  .tab-content {
    transition: all 0.2s ease;
    min-height: 50vh;
  }
}

.nav-tabs-custom {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs-custom .nav-item {
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: #4f8a8b;
  box-shadow: 0 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0.8;
  font-size: 1rem;
}
.nav-tabs-custom .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
}
.nav-tabs-custom .nav-item:hover,
.nav-tabs-custom .nav-item:focus {
  color: #000;
  background: #fff;
}

.nav-tabs-custom .nav-link:hover,
.nav-tabs-custom .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  color: #000;
}
.nav-tabs-custom .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-custom .nav-link.active,
.nav-tabs-custom .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs-custom .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tab-pane.active {
  animation: slide-down 0.5s ease;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  transition: all 0.2s ease;
  overflow: hidden;
  .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
  }
  @media all and (max-width: 768px) {
    .card-img {
      max-height: 200px;
    }
  }
}
.card:hover {
  background: rgba(0, 0, 0, 0.2);
}

.container-cus {
  max-width: 1140px;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
}
.container-lg {
  max-width: 1200px;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
}
