<div class="card mr-3 mb-3">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <a href="{{include.demo}}" target="_blank">
        {% if include.image %}
        <img src="{{include.image}}" class="card-img">
        {% else %}
        <img src="/assets/img/demo/default.jpeg" class="card-img">
        {% endif %}
      </a>
    </div>
    <div class="col-md-12 col-lg-8 px-2">
      <div class="card-body px-2 pt-2">
        <h4 class="card-title pt-1">{{include.title}}</h4>
        <div class="card-text text-muted">
          <span>{{include.content | truncate: 200}}</span><br>
        </div>
        {% if include.tags %}
        <div class="card-tag mt-3">
          {% for tag in include.tags %}
          <span class="badge badge-secondary mr-2 py-1 text-white">{{tag}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <a href="{{include.code}}" class="btn btn-light btn-light-primary" target="_blank">Code</a>
        {% if include.demo %}
        <a href="{{include.demo}}" class="btn btn-light btn-light-primary" target="_blank">Demo</a>
        {% endif %}
      </div>
    </div>

  </div>
</div>