footer.footer-wrapper {
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #263238;
  .footer-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    max-width: 250px;
    margin: 0 0 25px 0;
  }
  .social-icon-wrap {
    transition: all 0.2s ease-in;
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 2px #2a373d;
    &:hover {
      transform: scale(0.95);
    }
  }
  .footer-linkedin-wrapper,
  .footer-github-wrapper,
  .footer-twitter-wrapper,
  .footer-gitlab-wrapper,
  .footer-codewars-wrapper {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .footer-linkedin-wrapper {
    background-image: url('../img/icons/linkedin.svg');
    background-size: 30px;
  }
  .footer-github-wrapper {
    background-image: url('../img/icons/github.svg');
    background-size: 30px;
  }
  .footer-gitlab-wrapper {
    background-image: url('../img/icons/gitlab.svg');
    background-size: 30px;
  }

  .footer-twitter-wrapper {
    background-image: url('../img/icons/twitter.svg');
    background-size: 45px;
  }
  .footer-codewars-wrapper {
    background-image: url('../img/icons/codewar.png');
    background-size: 30px;
  }
  a.footer-email {
    transition: all 0.2s ease-in;
    font-family: $font-stack;
    font-size: 1em;
    color: $secondary;
    &:hover {
      color: #e9e5e5;
    }
  }
  .footer-info a,
  p {
    color: white;
    text-align: center;
  }
  p.footer-copyright {
    font-family: $font-stack;
    font-size: 0.875em;
    color: $secondary;
    margin-top: 10px;
    color: white;
  }
}
.social-icon {
  height: 100%;
  width: auto;
}

input {
  outline: none;
  border-radius: 0;
}
