<footer class="footer-wrapper">
  <div class="footer-social-links">
    <a href="{{ site.linkedin_path }}" target="_blank" class="social-icon-wrap footer-linkedin-wrapper"></a>
    <a href="{{ site.github_path }}" target="_blank" class="social-icon-wrap footer-github-wrapper"></a>
    <a href="{{ site.gitlab_path }}" target="_blank" class="social-icon-wrap footer-gitlab-wrapper"></a>
    <a href="{{ site.twitter_path }}" target="_blank" class="social-icon-wrap footer-twitter-wrapper"></a>
    <a href="{{ site.codewars_path }}" target="_blank" class="social-icon-wrap footer-codewars-wrapper"></a>
  </div>
  <small class='footer-info'>
    <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
    <p class="footer-copyright">&#169;2020 TienDuy</p>
  </small>
</footer>