<div class="pagination">
    <div class="pagination__buttons">
        {{ with .Page.Higher }}
        <div class="previous">
            <span class="button__label">Previous</span>
            <span class="button">
                <a href="{{ .Permalink }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">{{ .Config.title }}</span>
                </a>
            </span>
        </div>
        {{ end }} {{ with .Page.Lower }}
        <div class="next">
            <span class="button__label">Next</span>
            <span class="button">
                <a href="{{ .Permalink }}">
                    <span class="button__text">{{ .Config.title }}</span>
                    <span class="button__icon">→</span>
                </a>
            </span>
        </div>
        {{ end }}
    </div>
</div>
