<div class="pagination">
    {{ with .Page.Higher }}
    <a href="{{ .Permalink }}" class="pagination-item previous">
        <span class="pagination-label">
            <i class="fas fa-chevron-left"></i> PREVIOUS
        </span>
        <span class="pagination-title">{{ .Config.title }}</span>
    </a>
    {{ end }}
    
    {{ with .Page.Lower }}
    <a href="{{ .Permalink }}" class="pagination-item next">
        <span class="pagination-label">
            NEXT <i class="fas fa-chevron-right"></i>
        </span>
        <span class="pagination-title">{{ .Config.title }}</span>
    </a>
    {{ end }}
</div>
