{% macro include_theme_color(theme_color, type="text") %} {% if theme_color == "aurora" %} {%
include "theme_colors/aurora.html" %} {% elif theme_color == "bluloco" %} {% include
"theme_colors/bluloco.html" %} {% elif theme_color == "cosmic_sunset" %} {% include
"theme_colors/cosmic_sunset.html" %} {% elif theme_color == "dracula" %} {% include
"theme_colors/dracula.html" %} {% elif theme_color == "electric_tear" %} {% include
"theme_colors/electric_tear.html" %} {% elif theme_color == "halcyon" %} {% include
"theme_colors/halcyon.html" %} {% elif theme_color == "nebula_bloom" %} {% include
"theme_colors/nebula_bloom.html" %} {% elif theme_color == "neon_azure" %} {% include
"theme_colors/neon_azure.html" %} {% elif theme_color == "one_dark" %} {% include
"theme_colors/one_dark.html" %} {% elif theme_color == "sapphire" %} {% include
"theme_colors/sapphire.html" %} {% elif theme_color == "tokyo_night" %} {% include
"theme_colors/tokyo_night.html" %} {% else %} {% include "theme_colors/tokyo_night.html" %} {% endif
%} {% endmacro %}

