<!doctype html>
<html lang="en">
    {{ template "partials/_head.html" . }}
    <body class="not-found">
        {{ template "partials/_sidebar.html" . }}
        
        <div id="main-wrapper">
            
            <main id="main-content">
                <div class="main-header">
                    <button type="button" id="sidebar-trigger" aria-label="Sidebar">
                        <i class="fas fa-bars fa-fw"></i>
                    </button>
                    <div id="breadcrumb">
                        <a href="/">Home</a>
                        <span>404</span>
                    </div>
                    <div id="search-wrapper">
                        <i class="fas fa-search fa-fw"></i>
                        <input id="search-input" type="search" placeholder="Search...">
                        <div id="search-results"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="error">
                        <h1>404</h1>
                        <p>Page Not Found</p>
                    </div>
                    <p>Oops! The page you're looking for doesn't exist. It might have been moved or deleted.</p>
                    <a class="instant" href="/" aria-label="Return to homepage">← Back to Home</a>
                </div>
            </main>
            
            <aside id="right-panel">
                <div class="panel-wrapper">
                    {{ template "partials/_panel.html" . }}
                </div>
            </aside>
        </div>

        {{ template "partials/_footer.html" . }}
        <div id="mask"></div>
        {{ template "partials/_scripts.html" . }}
    </body>
</html>
