{% import "macros/theme.html" as macros %}

<!DOCTYPE html>

<html lang="{% block lang %}{% endblock lang %}">

<head>
    {#- meta tags #}
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="base" content="{{ config.base_url | safe }}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    {% if is_404 %}
        <meta name="robots" content="noindex, follow" />
    {% else %}
        <meta name="robots" content="index, nofollow" />
    {% endif %}

    {% block desc %}{% endblock desc %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">

    <meta property="og:title" content="{{ page.title | default(value=config.title) | safe }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ config.title }}">
    {%- if page.description %}
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
    {%- elif section.description %}
        <meta name="description" content="{{ section.description }}" />
        <meta property="og:description" content="{{ section.description }}" />
    {%- elif page.summary %}
        <meta name="description" content="{{ page.summary | striptags | trim_end_matches(pat=".") | safe }}…" />
        <meta property="og:description" content="{{ page.summary | striptags | trim_end_matches(pat=".") | safe }}…" />
    {%- else %}
        <meta name="description" content="{{ config.description }}" />
        <meta property="og:description" content="{{ config.description }}" />
    {%- endif %}
    {# Image sharing preview#}
    {%- set sharing_img_preview = page.extra.img | default(value="") -%}
    {% if sharing_img_preview %}
        {% set colocated_path = page.colocated_path | default(value="") %}
        {% set file_path = colocated_path ~ sharing_img_preview %}
        {%- set meta = get_image_metadata(path=file_path, allow_missing=true) -%}
        {% if meta %}
            {% set final_path = file_path %}
        {% else %}
            {% set meta = get_image_metadata(path=sharing_img_preview, allow_missing=true) %}
            {% if meta %}
                {% set final_path = sharing_img_preview %}
            {% else %}
                {{ throw(message="Could not get metadata for the specified social media card image in page " ~ page.path ~ ". Attempted relative path: '" ~ file_path ~ "' and absolute path: '" ~ sharing_img_preview ~ "'. Ensure the file exists at one of these locations.") }}
            {% endif %}
        {% endif %}

        <meta property="og:image" content="{{ get_url(path=final_path, cachebust=true) }}" />
        <meta property="og:image:width" content="{{ meta.width }}" />
        <meta property="og:image:height" content="{{ meta.height }}" />
        <meta name="twitter:image" content="{{ get_url(path=final_path, cachebust=true) }}" />
        <meta name="twitter:card" content="summary_large_image" />
    {% endif %}

    {% include "_custom_font.html" %}
	{% set theme_color = config.extra.theme_color %}
	{{ macros::include_theme_color(theme_color=theme_color, type="text") }}
    {% include "_custom_css.html" %}
    <link rel="stylesheet" href="/main.css">
    {% block head %}{% endblock head %}
    {% include "_head_extend.html" %}
</head>

<body class="{% block page %}{% endblock page%}">
    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
    <script src="/js/main.js" defer></script>
</body>

</html>