<style>

  body {
    /* Tokyo night */
    --primary-color: #7aa2f7;
    --primary-pale-color: #7aa2f71a;
    --text-color: #D1D5DB;
    --text-bold-color: #ff79c6;
    --text-pale-color: #abadb1;
    --bg-color: #1a1b26;
    --highlight-mark-color: #3b4261;

    --callout-note-color: #7dcfff;
    --callout-important-color: #bb9af7;
    --callout-warning-color: #e0af68;
    --callout-alert-color: #f7768e;
    --callout-question-color: #7aa2f7;
    --callout-tip-color: #9ece6a;
  }

  /* typography */
  body {
    --main-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --icon-size: 20px;
    --homepage-font-size: 16px;
    --homepage-line-height: 1.75;
    --paragraph-font-size: 16px;
    --paragraph-line-height: 1.75;
    --aside-font-size: 15px;
    --img-border-radius: 0px;
    --callout-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-pale-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
