<footer>
    <div class="footer-menu">
        {% if config.extra.footer_menu %}
        {% set site_sections = config.extra.footer_menu | filter(attribute="is_external", value=false) %}
        {% for section in site_sections %}
          {% set should_fold = false %}
          {% if is_taxonomies_path and section.path == config.extra.blog_section_path %}
            {% set should_fold = false %}
          {% elif not current_path is starting_with(section.path) %}
            {% set should_fold = true %}
          {% endif %}
          <a class="instant {% if should_fold %}fold{% endif %}" href="{{ section.path }}">{{ section.name }}</a>
        {% endfor %}
    {% endif %}
    </div>
	<div class="copyright">
        {{ config.extra.footer_copyright | trim | markdown | safe }}
    </div>
</footer>