<!-- partials/sharing.html -->
{% if page.extra.enable_sharing is defined %}{% set show_sharing = page.extra.enable_sharing %}{% else %}{% set
show_sharing = config.extra.enable_sharing %}{% endif %}
{% if show_sharing %}
<div class="sharing-buttons">
	<h3>Share this post:</h3>
	<ul class="sharing-list" id="right">

		<li>
			<a href="https://news.ycombinator.com/submitlink?u={{ page.permalink }}&t={{ page.title | urlencode }}"
				target="_blank" rel="noopener noreferrer">
				<img src="/icon/hacker-news.svg" alt="Share on Hacker News" class="sharing-icon">
			</a>
		</li>
		<li>
			<a href="https://www.reddit.com/submit?url={{ page.permalink }}&title={{ page.title | urlencode }}"
				target="_blank" rel="noopener noreferrer">
				<img src="/icon/reddit.svg" alt="Share on Reddit" class="sharing-icon">
			</a>
		</li>

		<li>
			<a href="https://mastodon.social/share?url={{ page.permalink }}&text={{ page.title | urlencode }}" target="_blank"
				rel="noopener noreferrer">
				<img src="/icon/mastodon.svg" alt="Share on Mastodon" class="sharing-icon">
			</a>
		</li>

		<li>
			<a href="https://x.com/intent/tweet?url={{ page.permalink }}&text={{ page.title | urlencode }}" target="_blank"
				rel="noopener noreferrer">
				<img src="/icon/x.svg" alt="Share on Twitter" class="sharing-icon">
			</a>
		</li>

		<li>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.permalink }}" target="_blank"
				rel="noopener noreferrer">
				<img src="/icon/facebook.svg" alt="Share on Facebook" class="sharing-icon">
			</a>
		</li>

		<li>
			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.permalink }}&title={{ page.title | urlencode }}"
				target="_blank" rel="noopener noreferrer">
				<img src="/icon/linkedin.svg" alt="Share on LinkedIn" class="sharing-icon">
			</a>
		</li>

		<li>
			<a href="mailto:?subject={{ page.title | urlencode }}&body={{ page.permalink }}">
				<img src="/icon/email.svg" alt="Share via Email" class="sharing-icon">
			</a>
		</li>
	</ul>
</div>

{% endif %}