<!doctype html>

<html lang="{{ priority .Page.Config.lang .Section.Config.lang .Site.Config.lang }}">
    {{ template "partials/_head.html" . }}
    <body class="blog">
        {{ template "partials/_header.html" . }}

        <div id="wrapper">
            <main class="layout-list">
                {{ range $group := group_by "year" .Section.Children }}
                <h2 class="scroll-reveal">{{ $group.Key }}</h2>
                <div class="post-list">
                    {{ range (reverse $group.Items) }}
                    <a
                        class="post instant scroll-reveal-stagger {{ if .Config.extra.featured }}featured{{end}}"
                        href="{{ .Permalink }}"
                    >
                        <span>{{ .Config.title }}</span>
                        <span class="date">{{ date .Config.date "Jan 2, 2006" }}</span>
                    </a>

                    {{ end }}
                </div>
                <hr class="scroll-reveal" />

                {{ end }} {{ template "partials/_footer.html" . }}
            </main>
        </div>

        {{ template "partials/_scripts.html" . }}
    </body>
</html>
