<!doctype html>

<html lang="{{ priority .Page.Config.lang .Section.Config.lang .Site.Config.lang }}">
    {{ template "partials/_head.html" . }}
    <body class="categories-list">
        {{ template "partials/_header.html" . }}
        <div id="wrapper">
            <main>
                <div class="title">Categories</div>
                <div class="categories">
                    {{ range .Page.Terms }}
                    <a class="instant category-item" href="{{ .Permalink }}" data-count="{{ .Count }}">
                        <span class="category-name">{{ .Name }}</span>
                        <span class="category-count">{{ .Count }} {{ pluralize "post" .Count }}</span>
                    </a>
                    {{ end }}
                </div>
            </main>
            {{ template "partials/_footer.html" . }}
        </div>
        {{ template "partials/_scripts.html" . }}
    </body>
</html>
