{% extends "_base.html" %} {% block page %}microblog-page{% endblock page %} {% block title %}{{
section.title }}{% endblock title %} {% block desc %}
<meta name="description" content="{{ section.description }}" />

{% endblock desc %} {% block content %} {% include "_header.html" %}
<div id="wrapper-microblog">
    <main class="prose microblog">
        <p>{{ section.description }}</p>
        <div class="microblog-entries">
            {% for page in section.pages %}
            <div class="microblog-entry lazy-entry">
                <div class="thought-content">
                    {{ page.content | safe }}
                    <p class="timestamp">→ {{ page.date | date(format="%Y/%m/%d %I:%M %p") }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    {% include "_footer.html" %}
</div>
{% endblock content %} {% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const entries = document.querySelectorAll('.lazy-entry')
        const observerOptions = { root: null, rootMargin: '0px', threshold: 0.1 }

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible')
                    observer.unobserve(entry.target)
                }
            })
        }, observerOptions)

        entries.forEach((entry) => observer.observe(entry))
    })
</script>
{% endblock script %}
