<!doctype html>

<html lang="{{ priority .Page.Config.lang .Section.Config.lang .Site.Config.lang }}">
    {{ template "partials/_head.html" . }}
    <body class="post">
        {{ template "partials/_header.html" . }}

        <div id="wrapper">
            <div id="blank"></div>
            <aside>
                {{ template "partials/_toc.html" . }}
                <button id="back-to-top" aria-label="back to top">
                    {{ $icon := load "static/icon/arrow-up.svg" }} {{ $icon }}
                </button>
            </aside>
            <main>
                <div>
                    {{ template "partials/_copy_code.html" . }} {{ $backlink_icon := load
                    "static/icon/backlink.svg" }}
                    <article class="prose" data-backlink-icon="{{ $backlink_icon }}">
                        <h1>{{ .Page.Config.title }}</h1>
                        <div id="post-info">
                            <div id="date">
                                <span id="publish">{{ date .Page.Config.date "Jan 2, 2006" }}</span>
                                {{ if not .Page.Config.updated.IsZero }}
                                <span>Last update:</span>
                                <span id="updated"
                                    >{{ date .Page.Config.updated "Jan 2, 2006" }}</span
                                >
                                {{ end }}
                            </div>

                            {{ template "partials/_word_count.html" . }}
                        </div>

                        <div id="tags">
                            {{ range .Page.Config.tags }} {{ $tag_slugify := . | urlize }} {{
                            $tag_url := printf "/tags/%s" $tag_slugify }}
                            <a class="instant" href="{{ $tag_url }}"><span>#</span>{{ . }}</a>
                            {{ end }}
                        </div>

                        {{ template "partials/_outdate.html" . }} {{ .Page.Content }} {{ pagination
                        .}}
                    </article>
                    
                    {{ template "partials/_suggest_edit.html" . }}
                    {{ template "partials/_related_posts.html" . }}
                    {{ template "partials/_sharing.html" . }}
                    {{ template "partials/_reaction.html" . }}
                    {{ template "partials/_giscus_script.html" . }}
                    {{ template "partials/_comment.html" . }}
                </div>

                {{ template "partials/_footer.html" . }}
            </main>
        </div>
        {{ template "partials/_scripts.html" . }}
    </body>
</html>
