<!doctype html>

<html lang="{{ priority .Page.Config.lang .Section.Config.lang .Site.Config.lang }}">
    {{ template "partials/_head.html" . }}
    <body class="tag-list">
        {{ template "partials/_header.html" . }}
        <div id="wrapper">
            <main>
                <div class="title">Tags</div>
                <div class="tags">
                    {{ range .Page.Terms }}
                    <a class="instant" href="{{ .Permalink }}" data-count="{{ .Count }}"
                        ># {{ .Name }}</a
                    >
                    {{ end }}
                </div>
            </main>
            {{ template "partials/_footer.html" . }}
        </div>
        {{ template "partials/_scripts.html" . }}
    </body>
</html>
