<style>
    body {
        --primary-color: #6f8fd1;
        --primary-pale-color: #6f8fd166;
        --primary-descoration-color: #6f8fd112;
        --bg-color: #1c1c1c;
        --text-color: #abb2bf;
        --text-bold-color: #fcfcfd;
        --text-pale-color: #848484;
        --text-decoration-color: #5f5f5f;
        --highlight-mark-color: #8296cb3b;

        --callout-note-color: #6f8fd1;
        --callout-tip-color: #47976f;
        --callout-important-color: #9776cd;
        --callout-warning-color: #ad7a52;
        --callout-caution-color: #d06161;
    }
</style>
