<style>
    body {
        /* Halcyon dark */
        --primary-color: #00d7e8;
        --primary-pale-color: #81a1c120;
        --text-color: #e5e9f0;
        --text-bold-color: #f6c965;
        --text-pale-color: #e5e9f0;
        --bg-color: #25283c;
        --highlight-mark-color: #434c5e;

        --callout-note-color: #5e81ac;
        --callout-important-color: #8fbcbb;
        --callout-warning-color: #ebcb8b;
        --callout-alert-color: #bf616a;
        --callout-question-color: #81a1c1;
        --callout-tip-color: #a3be8c;
    }
</style>
